@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add Student</h1>
<div class="mt-1">
    <div class="form-label">Name:</div>
    <input type="text" name="name" value="name"/>
</div>
<div class="mt-1">
    <div class="form-label">Email:</div>
    <input type="text" name="email" value="email"/>
</div>
<div class="mt-1">
    <div class="form-label">Phone Number:</div>
    <input type="text" name="phone" value="phone"/>
</div>